.container {
    width: 90;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.section-card {
    background-color: rgba(0, 0, 0, 0.507);
}
